.card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.favoriteIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 10;

  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}
.favoriteIcon:hover {
  transform: scale(1.1);
}

.favoriteIcon svg {
  width: 20px;
  height: 20px;
  color: #0b44cd;
}

.imageWrapper {
  width: 100%;
  height: 160px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  padding: 16px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.modelLink {
  text-decoration: none;
  color: inherit;
}

.price {
  font-size: 16px;
  font-weight: 500;
  color: #101828;
}

.details {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

.readMoreBtn {
  display: inline-block;
  padding: 8px 16px;
  background: var(--button);
  color: var(--white);
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.2s, color 0.2s;
}

.readMoreBtn:hover {
  opacity: 0.9;
  color: var(--white);
  background-color: var(--button-hover);
}
